*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.header{
    width: 100%;
    min-height: 100vh;
    display: flex;  /*this helps us to make the columns side by side */
    flex-wrap: wrap;
    
}

.col-1{
    position: relative;
    flex-basis: 43%;  /*Width of the column */
    flex-grow: 1;  /*Uses Full Space in small Screen */
    background-image: url(background.png);
    background-size:cover ;
    background-position: center;
    padding: 40px;  /*helped us to bring down the images in nav class  i.e logo and search-img */
    color: white;
    box-shadow: inset 20px 20px 50px 50px rgba(0, 0, 0, 0.9);
}

.col-2{
    flex-basis: 57%; /*uses 57% of the view i.e 57% of the right side column */
    flex-grow: 1;
}
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    width: 80px;
    cursor: pointer;
}

.search-img{
    width: 25px;
    cursor: pointer;
}
.left-text{
    margin-top: 150px;
    padding: 50px;

}
.left-text h1{
    font-size: 50px;
    line-height: 1.4em;
    font-weight: 700;
}
.left-text p{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
}

.play-img{
    position: absolute;
    width: 50px;
    margin-left: 50px;
     top:530px;
    cursor: pointer;    
}
.watch-video{
    position: absolute;
    left:150px;
    top: 550px;
    font-weight: 600;
}
