* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  min-height: 100vh;
  display: flex; /*this helps us to make the columns side by side */
  flex-wrap: wrap;
}
/* Dealing with the column-1 */
.col-1 {
  position: relative;
  flex-basis: 43%; /*Width of the column */
  flex-grow: 1; /*Uses Full Space in small Screen */
  background-image: url(background.png);
  background-size: cover;
  background-position: center;
  padding: 40px; /*helped us to bring down the images in nav class  i.e logo and search-img */
  color: white;
  box-shadow: inset 20px 20px 50px 50px rgba(0, 0, 0, 0.9);
}
/* Dealing with the column-2 */
.col-2 {
  flex-basis: 57%; /*uses 57% of the view i.e 57% of the right side column */
  flex-grow: 1;
  padding: 50px;
  background-image: url(music.png);
  background-size: cover;
  background-position: center;
}

/*Nav of Col 1 */
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*logo in nav one */
.Logo {
  width: 80px;
  cursor: pointer;
}

.search-img {
  width: 25px;
  cursor: pointer;
}

/*Dealing with the text in col-1 left side */
.left-text {
  margin-top: 150px;
  padding: 50px;
}
.left-text h1 {
  font-size: 50px;
  line-height: 1.4em;
  font-weight: 700;
}
.left-text p {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500;
  text-align: justify;
}

.play-img {
  position: absolute;
  width: 50px;
  margin-left: 50px;
  top: 530px;
  cursor: pointer;
}
.watch-video {
  position: absolute;
  left: 150px;
  top: 550px;
  font-weight: 600;
}

/**************************** STYLING OF THE SECOND COLUMN STARTS HERE *******************/
.nav-2 ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-2 li {
  list-style: none;
}
.nav-2 ul a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.nav-2 li:hover {
  border: 2px solid skyblue;
  padding: 8px 10px;
  border-radius: 10px;
}

/*Styling only the 4th child */
.nav-2 li:nth-child(4) {
  border: 2px solid red;
  padding: 8px 10px;
  border-radius: 10px;
}

.right-text {
  margin-top: 150px;
  padding: 50px; /*Gives Padding from all sides to the text */
}

.right-text h1 {
  font-size: 50px;
  font-weight: 500;
}

.right-text h4 {
  margin-top: 30px;
  font-weight: 600;
}

.right-text p {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 500;
  text-align: justify;
}
/*Styling of the button LEARN MORE */
.lrn-btn a {
  margin-left: 50px;
  border: 2px solid #ff5a5a;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: #ff5a5a;
  box-shadow: 0 5px 10px rgba(255, 90, 90, 0.7);
}
